<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RefreshingInterval" value ="1000"/>
    <add key="CpuUsageMediumThreshold" value ="10"/>
    <add key="CpuUsageHighThreshold" value ="30"/>
    <add key="MemoryUsageMediumThreshold" value ="10"/>
    <add key="MemoryUsageHighThreshold" value ="100"/>
  </appSettings>
</configuration>